body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin: 64px 24px 24px 24px;
  background-color: #DBE0DA;
  color: #3C413D;
}

button, input {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  width: 100%;
  max-width: 988px;
  margin: 0 auto;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  border: 5px dotted white;
  padding: 10px;
}


.box-username {
  display: flex;
  flex-direction: column;
  padding: 24px;

}

.game-container {
  border: 3px dotted white; 
  
}

.game-info {
  margin-bottom: 20px;
}